/* Add home page specific styling */

@import url("base.css");

.header_background {
  height: 500px;
}

.bio {
  margin-top: 2.5em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f3f3f;
}

.bio-title {
  font-weight: 300;
  margin-bottom: 1.5em;
}
