/* Add contact page specific styling */

@import url("base.css");

#mc_embed_signup form {
  background: #F0F0F0;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
  margin-top: 200px;
}

input.email {
  display: block;
}

.send-message {
  text-align: center;
}

.message {
  display: block;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: 1px solid #ABB0B2;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  height: 125px;
  vertical-align: top;
  margin-bottom: 20px;
}

.button {
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  background-color: #aaa;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
}
