/* Add resume specific styling */

@import url("base.css");

.resume_title {
  top: 1.5em;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #545454;
}

@media only screen and (min-width: 768px) {
  .resume_title {
    font-size: 3em;
    font-weight: 200;
  }
}

.content {
  width: 800px;
}

.header_links {
  margin-top: 25%;
  margin-bottom: 20px;
  text-align: center;
  color: steelblue;
}

.linkedin {
  margin-bottom: 5px;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: steelblue;
}

.resume-table {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.education {
  margin: 20px;
  display: inline-block;
}

.honors {
  margin: 20px;
  display: inline-block;
}

.coursework {
  margin: 10px;
  display: inline-block;
}

.skills {
  margin: 10px 110px;
  display: inline-block;
}

.experience {
  font-family: 'Open Sans', sans-serif;
}

.title {
  display: inline-block;
  font-weight: 700;
}

.time {
  display: inline-block;
  position: relative;
  float: right;
}

.company {
  display: inline-block;
}

.location {
  display: inline-block;
  position: relative;
  float: right;
}

.bulletpoint {
  display: block;
  padding: 10px 0;
}

.details {
  display: block;
  padding: 0 5px;
  font-weight: 300;
}
